.ItemCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    height: 30px;
    width: 500px;
}

.ItemCounter h4 {
    margin: 0;
    width: 140px;
    text-align: center;
}

.CounterButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.Counter {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    background-color: #f31313;
    border: #f31313;
    color: rgb(214, 207, 207);
}

.Counter:hover {
    background-color: #b90e0e;
}

.AddCart {
    width: 150px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f3ce13;
    border: #f3ce13;
    border-radius: 3px;
}

.AddWish {
    width: 30px;
    height: 30px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: #f3ce13;
    border: #f3ce13;
    border-radius: 3px;
}

.AddCart:hover, .AddWish:hover {
    background-color: #a38a0a;
}
