.ItemCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 340px;
    height: 30px;
}

.ItemCounter h4 {
    margin: 0;
    width: 340px;
    text-align: center;
}

.Counter {
    margin: 20px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
    background-color: #f31313;
    border: #f31313;
    color: rgb(214, 207, 207);
}

.Counter:hover {
    background-color: #b90e0e;
}
