.ItemDetail {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px;
    background-color: #222222;
    box-shadow: 1px 2px 4px black;
    border-radius: 5px;
}

.ItemPoster {
    margin: 0;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
    height: 480px;
    width: 323px;
}

.DetailContainer {
    margin-left: 60px;
    color: rgb(214, 207, 207);
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.DetailContainer p {
    max-width: 500px;
}
