.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #050505;
    border-bottom: 4px solid  #f3ce13;
}

.RightNav {
    padding: 10px;
    margin: 10px;
    width: 285px;
}

.LeftNav {
    padding: 10px;
    margin: 10px;
    width: 260px;
}

.NavOptionsLeft, .NavOptionsRight {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.LogoName {
    margin: 0 auto;
    font-size: larger;
    width: 290px;
}

.Option {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    height: 30px;
    width: 70px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(214, 207, 207);
    border: rgb(214, 207, 207);
    border-radius: 3px;
}

.Option:hover {
    background-color: rgb(165, 160, 160);
}