* {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.App {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  text-align: center;
  background-color: #111111;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #050505;
}

.App-main {
  margin: 0 auto;
  max-width: 1366px;
  margin-top: 130px;
  margin-bottom: 130px;
  background-color: #111111;
}

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 10px;
  color: rgb(214, 207, 207);
  background-color: #050505;
  border-top: 2px solid rgb(214, 207, 207);
}
